html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: rgb(11, 11, 11);
}

section {
  margin: 40px 0;
}

.title-text-container {
  max-width: 550px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-container a {
  color: rgb(11, 11, 11);
}

.text-color a:visited {
  color: rgb(11, 11, 11);
}

.page-header {
  background: url('/img/wollecru-sheep.jpg') no-repeat center;
  background-position: 5% center;
  background-size: cover;
  min-height: 700px;
  text-align: center;
}

.wool-header {
  background: url('/img/wool-sheep.jpg') no-repeat center;
  background-position: 5% center;
  background-size: cover;
  min-height: 700px;
  text-align: center;
}

.flora-header {
  background: url('/img/flora-header.jpg') no-repeat center;
  background-position: center center;
  background-size: cover;
  min-height: 700px;
  text-align: center;
}

.wine-header {
  background: url('/img/wine-header.jpg') no-repeat center;
  background-position: 5% center;
  background-size: cover;
  min-height: 700px;
  text-align: center;
}

.text-center {
  text-align: center;
}

.img-center {
  margin: 0 auto;
}

h1, h2 {
  font-family: 'El Messiri', sans-serif;
}

.title-subheading {
  font-size: 25px;
  font-style: italic;
  text-shadow: 1px 1px 3px rgb(227, 227, 227);
  margin: 0;
}

.title-subheading-small {
  font-style: italic;
  font-size: 18px;
  text-shadow: 1px 1px 3px rgb(227, 227, 227);
  padding-top: 10px;
  margin: 0;
}

.page-title {
  font-size: 85px;
  padding-top: 50px;
}

nav ul {
  margin-top: 380px;
  padding: 0 20px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  background: #fff;
  border: 2px solid rgb(11, 11, 11);
}

nav li {
  font-size: 23px;
  padding: 10px;
}

nav li a {
  text-decoration: none;
  color: rgb(11, 11, 11);
}

@media (max-width: 660px)  {
  .page-header {
    min-height: 500px;
  }
  nav ul {
    display: block;
    margin-top: 30px;
  }
}

h2 {
  font-size: 34px;
  margin: 30px 0;
}

.section-title {
  font-size: 100px;
  color: white;
  text-align: right;
  padding-top: 90px;
}

.section-title-left {
  font-size: 100px;
  color: white;
  text-align: left;
  padding-top: 90px;
}

.mod-grey-header {
  color: rgb(11, 11, 11);
}

p {
  margin: 20px 0;
  line-height: 1.2;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.content-container-expanded {
  text-align: center;
  margin: 0 -130px;
}

@media (max-width: 1225px) {
  .content-container-expanded {
      margin: 0;
    }
}

.side-by-side-img-row {
  display: flex;
}

.side-by-side-img-container {
  display: flex;
}

.side-by-side-img-row > img {
  display: flex;
}


